/*@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Libre+Bodoni:ital@1&family=Tapestry&display=swap');
*/

body {
	font-size: 16px;
	/*font-family: "Sansita", Ubuntu, sans-serif;*/
    font-family: 'Libre Bodoni', sans-serif;
	max-width: 1000px;
  	margin: 0 auto;
  	padding: 1em;
}
/* phone or baseline views **************************/
header, footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 0px;
    align-items: center;
	text-align: center;
	color: white ;
    background-color: #03478c;
    border: 2px solid #03478c;
    border-radius: 12px;
    padding: 5px;
    width: auto;
	position: relative;
}

header a:link {
	color: white;
	background-color: transparent;
	text-decoration: none;
  }
header  a:visited {
	color: white;
	background-color: transparent;
	text-decoration: none;
  }
header  a:hover {
	color: red;
	background-color: transparent;
	text-decoration: underline;
  }
header a:active {
	color: yellow;
	background-color: transparent;
	text-decoration: underline;
  }

a:link {
	color: black;
	background-color: transparent;
	text-decoration: none;
  }
a:visited {
	color: black;
	background-color: transparent;
	text-decoration: none;
  }
a:hover {
	color: red;
	background-color: transparent;
	text-decoration: underline;
  }
a:active {
	color: yellow;
	background-color: transparent;
	text-decoration: underline;
  }



main {
	max-width: 1000px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
	text-align: center;
}

img {
	max-width: 100%;
	display: block;
  }
main section h3 {
	background-color: #03478c;
	color: white;
	border-radius: 12px 12px 0px 0px;
	margin-block-start: 0em;
	width: auto;
}

main section {
	margin: 0.5rem;
	background-color: #eee;
	border-radius: 12px 12px 0px 0px;
	
}
h3, p, link, img, p, h4 {
    padding: 5px;
}
main section:nth-child(2) {
	display: block;
	margin: 0.5rem;
}

.colimage {
	box-shadow: 0 0 30px #333;
}
