@media only screen and (min-width: 36rem) {


    main {display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        }

    footer div:nth-child(1) {
        display: flex;
        
    }

    footer div:nth-child(1) img, footer div:nth-child(1) p {
        margin: auto
    }


    /*Discovery page*/
    .art:hover, .culture:hover, .celebrate-wines:hover, .spa-experience:hover, .cycling:hover {
        box-shadow: 0px 0px 5px 5px #5C0029;
    } 
        .discover-main {
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
}

/*for join page*/
.joinPage {
    display: block;
    margin: 0 auto;
}
