/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	

    #forecast {

        flex-direction: row;
        
    }

	.footerBzInfo{
        align-content: center;
        align-items: center;
        text-align: center;
    }

/** Form **/
    input, 
    textarea {
      max-width: 50%;
    }

    .request textarea {
        max-width: 50%;    
    }

}