@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans&display=swap');

/********** phone or baseline views *************/

/*
Primary color: #0A5198
Secondary: #FFFFFF
Ascent1: #73CBF1
Ascent2: #d1d4d6
Header Font: Open Sans 
Paragraph Font: Lato


*/

/* body*/
body {
    max-width: 1200px;
    font-family: 'Lato', sans-serif, serif;
    font-size: 16px;
	text-align: center;
    margin: 10px auto;

}

/** Header **/
header {
    background-color: #0A5198;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerLogo {
    width: 140px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
	
}

header h1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0px 10px;
}

#currentdate {
    margin: 10px;
    position: relative;
    padding: 10px;
    border-bottom: 10px solid #0868c7;
}

button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: white;

}

.weatherAlert {
    color: black;
    background-color: #d1d4d6;
}

.alertBtn {
    color: black;
  
}

.mainNav {display: none;}

.dropDownNav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 10px
    
}
.dropDownNav ul li a {
	display: block;
    text-decoration: none;
    width: 90%;
    list-style: none;
    padding: 10px;
    text-align: center;
    background-color: #73CBF1;
    color: #fff;
    border: 1px solid black;
    font-size: 18px;
}


.dropDownNav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

.dropDownNav ul li a:hover {
    background-color: #d1d4d6;
    color: black;
}


.dropDownNav ul {display: none;}
.dropDownNav ul.open {display: block;}

.hamburgerBtn span:nth-child(1) {display: block;}
.hamburgerBtn span:nth-child(2) {display: none;}

.hamburgerBtn.open span:nth-child(1) {display: none;}
.hamburgerBtn.open span:nth-child(2) {display: block;}



#date {
    text-align: center;
    padding: 20px;
}

/** Main **/

main div {
    margin: 0px auto;
    text-align: center;

}
main h1, h2, h3{
    color: #0A5198;
    font-family: 'Open Sans', sans-serif;

    
}

.spotlight img {
    max-width: 90%;
}
.spotlight a {
    width: 100%;
    padding: 0.3em 0;
    font-size: 1.1em;
}
.spotlight a:hover {
    background-color: #73CBF1;
    color: #0B0B0B;
}

.bookNow {
    display: block;
    font-size: 20px;
    color: white;
    background-color: #0A5198;
    width: auto;
    margin-bottom: 10px;
    border-radius: 5px 10px;
}
.spotlight {
    background-color: #d1d4d6;
    height: 600px;
    padding: 10px;
    margin: 0px auto;
    text-align: center;
    height: auto;
}
.spotlightInfo h3 {
    color: #0A5198;
}

.spotlightInfo {
    color: black;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #0A5198;
    margin: 5px auto;

}


#forecast {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: left;
    border: 2px solid #0A5198;
    margin: 5px auto;
}
/** Footer **/

footer div img {
	width: 140px;
}
footer {
    background-color: #0A5198;
    color: white;
    padding: 10px;
    text-align: center;
    
}

footer h1,h2,h3 {
    color: white;
}

.resource a{
    color: white;
}

.mapIcon img{
    width: 30px;
}
.iconLinks img {
    width: 30px;
    margin: auto 0;
    padding: 5px;
}

.footerBzInfo img {
    width: 30px;
}
.footerBzInfo{
    align-content: left;
    align-items: left;
    text-align: left;
    padding: 5px;
    padding-left: 20px;
}

.footerBzInfo a {
    color: white;
}

.footerBzInfo a:hover {
    color: #73CBF1;
}
#prefootMid { 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1em;
}
.iconLinks {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
#midfootMid a {  
    align-self: center;
    padding: 5px;
}

.weather-api {
    display: block;
    background-color: #079c6da7;
    text-align: center;
    justify-content: center;
    margin-top: 200px;

}

/** Temple Page **/
.cards section {
    flex-direction: column;
    text-align: center;
    width: 90%;
    padding: 5px;
    margin: 5px auto;
    box-shadow: 0px 0px 1px 3px #0A5198;
    align-items: center;
    height: 900px;
}
.cards section h2, h3, p1, p2, p3, p4, p5, p6, p7 {
    display:inline;
    float:left;
    margin: 10px;
    color: black;
    padding-left: 10px;
}
.cards p, h3 {color: black; text-align: center; padding: 10px;}
.cards img {width: 70%;}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
    background-color: #d1d4d6;
    width: 100%;
    margin: 0px auto;
    padding: 10px;
}




/** Reservation Page **/

    .reservations {
        display: block;
    }
    form {
        margin: 2px auto;
        width: 90%;
        padding: 5px;
        background-color: #d1d4d6;
        border: 1px solid #0A5198;
        border-radius: 1px;
        align-items: center;

      }
    .formHead {
        display: block;
        text-align: left;
        font-size: 25px;
        margin: 20px 15px;
    }

    form legend {
        color: #0A5198;
        font-size: 20px;
        margin: 0 5px;
        padding: 0 5px;
    }
      form fieldset {
        margin: 5px;
        border: 1px solid #0A5198;
        border-radius: 10px;
        padding: .5rem 2%;
        text-align: left;
    }

    form label {
        display: block;
        text-align: left;
    }

    input, 
    textarea {
      font: 12px 'Lato', sans-serif, serif;
      width: 90%;
      box-sizing: border-box;
      border: 1px solid #999;
    }
    
    input:focus, 
    textarea:focus {
      border-color: #000;
    }
    
    textarea {
      vertical-align: top;
      height: 15px;
    }

    form input:required {
        border-top: rgb(125, 40, 40) solid 1px;
    }
    
    form input:required:valid {
        border-top: rgb(43, 136, 43) solid 1px;
    }

    .request textarea {
        width: 90%;
        height: 100px;
    }

    .resButton {
        display: block;
        font-size: 20px;
        color: white;
        background-color: #0A5198;
        width: auto;
        margin-bottom: 10px;
        border-radius: 5px 10px;
    
    }

    .resButton:hover {
        background-color: #73CBF1;
        color: #0B0B0B;
    }

    .thanks {
        background-color: #d1d4d6;
        padding: 20px;
    }

    .thanks h1,h2 {
        color: #0A5198;
        margin: 20px;

    }

    /** Services Page **/

    .services, .amenities, .reception, .missionaries p {color: black; text-align: center;}

    .services img {width: 70%;}
    .amenities img {width: 70%;}
    .reception img {width: 70%;}
    .reception img:hover {box-shadow: 0px 0px 5px 10px #0A5198;}
    .missionaries img {width: 70%;}
    .missionaries img:hover {box-shadow: 0px 0px 5px 10px #0A5198;}

    .services {
        display: block;
        background-color: #d1d4d6;
        width: 80%;
        margin: 5px auto;
        padding: 10px;
    }

    .amenities {
        display: block;
        background-color: #d1d4d6;
        width: 80%;
        margin: 5px auto;
        padding: 10px;
    }

    .reception {
        display: block;
        background-color: #d1d4d6;
        width: 80%;
        margin: 5px auto;
        padding: 10px;
    }

    .missionaries {
        display: block;
        background-color: #d1d4d6;
        width: 80%;
        margin: 5px auto;
        padding: 10px;
    }

    /** Reception Page **/

    .catering, .accomadation p, h3 {color: black; text-align: center;}

    .catering img {width: 70%;}
    .accomadation img {width: 70%;}
    .catering {
        display: block;
        background-color: #d1d4d6;
        width: 80%;
        margin: 5px auto;
        padding: 10px;
    }
    .accomadation {
        display: block;
        background-color: #d1d4d6;
        width: 80%;
        margin: 5px auto;
        padding: 10px;
    }

    /** Missionary Page **/

    .suites p, h3 {color: black; text-align: center;}
    .suites img {width: 70%;}
    .suites {
        display: block;
        background-color: #d1d4d6;
        width: 80%;
        margin: 5px auto;
        padding: 10px;
    }

    .contactForm {
        display: block;
        background-color: #d1d4d6;
        width: 80%;
        margin: 5px auto;
        padding: 10px;
    }

    /** Resources Page **/

    .resourcePg {
        display: block;
        background-color: #d1d4d6;
        margin: 0px auto;
        padding: 10px;
    }