@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans&display=swap');


/* phone or baseline views **************************/

/*
Primary color: #0A5198
Secondary: #FFFFFF
Ascent1: #73CBF1
Ascent2: #8B9BA0
Header Font: Open Sans 
Paragraph Font: Lato


*/
body {
    max-width: 1200px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
	text-align: center;
    margin: 10px auto;

}

header {
    background-color: #0868c7;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerLogo {
    width: 140px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
	
}

header h1 {
    color: white;
    font-family: 'Lato', sans-serif, serif;
    font-size: 18px;
    margin: 0px 10px;
}

.social-1 {
    width: 30px;
    margin: auto 0;
    padding: 5px;
}
.social-2 {
    width: 30px;
    margin: auto 0;
    padding: 5px;
}

#currentdate {
    margin: 10px;
    position: relative;
    padding: 10px;
    border-bottom: 10px solid #0868c7;
}


button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: white;

}

.mainNav {display: none;}

.dropDownNav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 10px
    
}
.dropDownNav ul li a {
	display: block;
    text-decoration: none;
    list-style: none;
    padding: 15px;
    text-align: center;
    background-color: #5dfdca88;
    color: #fff;
    border: 1px solid black;
}


.dropDownNav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

.dropDownNav ul li a:hover {
    background-color: #5C0029;
}


.dropDownNav ul {display: none;}
.dropDownNav ul.open {display: block;}

.hamburgerBtn span:nth-child(1) {display: block;}
.hamburgerBtn span:nth-child(2) {display: none;}

.hamburgerBtn.open span:nth-child(1) {display: none;}
.hamburgerBtn.open span:nth-child(2) {display: block;}



#date {
    text-align: center;
    padding: 20px;
}


main div {
    color: white;
    margin: 0px auto;

}
main h1, h2{
    color: #5C0029;
}

#slideshow:after {
    content: "";
    display: table;
    clear: both;
}
#slideshow img {
    float: left;
    margin: 0 -100% 0 0;
}
.spotlight {
    height: 600px;
    padding: 0px;
    margin: 10px auto;
    text-align: center;
    max-width: 1000px;
    
}

footer div img {
	width: 200px;
}
footer {
    background-color: #0868c7;
    color: white;
    margin-top: 40px;
    padding: 10px;
    text-align: center;
    
}
footer div p {
    text-align: center;
}
footer div p a {
    color: white;
}

.mapIcon img{
    width: 30px;
}

.weather-api {
    display: block;
    background-color: #079c6da7;
    text-align: center;
    justify-content: center;
    margin-top: 200px;

}

.hero a {
    color: white;
}

.join a {
    color: white;
}