@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans&display=swap');


/* phone or baseline views **************************/

/*
Primary color: #0A5198
Secondary: #FFFFFF
Ascent1: #73CBF1
Ascent2: #d1d4d6
Header Font: Open Sans 
Paragraph Font: Lato


*/

/* body*/
body {
    max-width: 1200px;
    font-family: 'Lato', sans-serif, serif;
    font-size: 16px;
	text-align: center;
    margin: 10px auto;

}

/** Header **/
header {
    background-color: #0A5198;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerLogo {
    width: 140px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
	
}

header h1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0px 10px;
}

#currentdate {
    margin: 10px;
    position: relative;
    padding: 10px;
    border-bottom: 10px solid #0868c7;
}

button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: white;

}

.mainNav {display: none;}

.dropDownNav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 10px
    
}
.dropDownNav ul li a {
	display: block;
    text-decoration: none;
    list-style: none;
    padding: 15px;
    text-align: center;
    background-color: #5dfdca88;
    color: #fff;
    border: 1px solid black;
}


.dropDownNav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

.dropDownNav ul li a:hover {
    background-color: #5C0029;
}


.dropDownNav ul {display: none;}
.dropDownNav ul.open {display: block;}

.hamburgerBtn span:nth-child(1) {display: block;}
.hamburgerBtn span:nth-child(2) {display: none;}

.hamburgerBtn.open span:nth-child(1) {display: none;}
.hamburgerBtn.open span:nth-child(2) {display: block;}



#date {
    text-align: center;
    padding: 20px;
}

/** Main **/

main div {
    color: white;
    margin: 0px auto;

}
main h1, h2, h3{
    color: #0A5198;
    font-family: 'Open Sans', sans-serif;

    
}

.spotlight img {
    max-width: 90%;
}
.spotlight a {
    width: 100%;
    padding: 0.3em 0;
    font-size: 1.1em;
}
.spotlight a:hover {
    background-color: #73CBF1;
    color: #0B0B0B;
}

.bookNow {
    display: block;
    font-size: 20px;
    color: white;
    background-color: #0A5198;
    width: auto;
    margin-bottom: 10px;
    border-radius: 5px 10px;
}
.spotlight {
    background-color: #d1d4d6;
    height: 600px;
    padding: 10px;
    margin: 0px auto;
    text-align: center;
    height: auto;
}
.spotlightInfo h3 {
    color: #0A5198;
}

.spotlightInfo {
    color: black;
}

.weather {
    color: black;
}

.forcast p {
    color: black;
}

/** Footer **/

footer div img {
	width: 140px;
}
footer {
    background-color: #0A5198;
    color: white;
    padding: 10px;
    text-align: center;
    
}

.mapIcon img{
    width: 30px;
}
.iconLinks img {
    width: 30px;
    margin: auto 0;
    padding: 5px;
}

.footerBzInfo img {
    width: 30px;
}
.footerBzInfo{
    align-content: left;
    align-items: left;
    text-align: left;
    padding: 5px;
    padding-left: 20px;
}

.footerBzInfo a {
    color: white;
}

.footerBzInfo a:hover {
    color: #73CBF1;
}
#prefootMid { 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1em;
}
.iconLinks {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
#midfootMid a {  
    align-self: center;
    padding: 5px;
}

.weather-api {
    display: block;
    background-color: #079c6da7;
    text-align: center;
    justify-content: center;
    margin-top: 200px;

}